<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.ouropencv" >
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:ignore="RtlEnabled"
        tools:targetApi="donut">
    </application>
</manifest>
